<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Title }}</title>
    <link media="all" rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="modal nodisplay" id="sources">
        <div style="display: flex; align-items: center; justify-content: space-between;"><h3>Зарегистрированные программы-источники</h3><button class="nav-item" onclick="this.parentNode.parentNode.classList.toggle('nodisplay');">Закрыть</button></div>
        <div class="modalsc">
        <ul>
        {{range .Process}}
            <li>{{.Tname}} [{{.Apitoken}}] <button onclick="removeProg(this, {{.Id}}, '{{.Apitoken}}');">удалить</button></li>
          {{end}}
        </ul>
      </div>
        <div style="display: flex;">
          <input class="search-input" type="text" placeholder="Название программы" id="sname">
          <input class="search-input" type="text" placeholder="Токен для программы" id="stoken">
          <button class="nav-item" onclick="addProg();">Добавить</button>
        </div>
    </div>
    <div class="modal nodisplay" id="types">
      <div style="display: flex; align-items: center; justify-content: space-between;"><h3>Зарегистрированные типы сообщений</h3><button class="nav-item" onclick="this.parentNode.parentNode.classList.toggle('nodisplay');">Закрыть</button></div>
        <div class="modalsc">
        <ul>
        {{range .MessTypes}}
            <li>({{.Id}}) {{.Tname}} [{{.Hexcolor}}] <button onclick="removeType(this, {{.Id}}, '{{.Tname}}');">удалить</button></li>
          {{end}}
        </ul>
      </div>
        <div style="display: flex;">
          <input class="search-input" type="text" placeholder="Название типа сообщения" id="tname">
          <input class="search-input" type="text" placeholder="Цвет (hex)" id="ttoken">
          <button class="nav-item" onclick="addType();">Добавить</button>
        </div>
    </div>
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-logo" href="#">{{ .Title}}</a>
        <div class="navbar-menu">
          <ul class="navbar-nav">
            <li class="nav-item" onclick='location.href="/";'>Общий лог</li>
            <li class="nav-item" onclick="sources.classList.toggle('nodisplay');">Зарегистрированные источники</li>
            <li class="nav-item" onclick="types.classList.toggle('nodisplay');">Типы сообщений</li>
          </ul>
          <form class="formsearch" action="/search" method="post">
            <input id="sval" name="sval" class="search-input"
              type="search"
              placeholder="Поиск по сообщениям"/>
            <button type="submit" class="nav-item btn-sub">Поиск</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="filter-block">
        <form class="filter-form" action="/" method="get">
        <select class="nav-item" id="process-filter" name="process-filter">
          <option value="0">Все</option>
          {{range .Process}}
            <option value="{{.Id}}">{{.Tname}}</option>
          {{end}}
        </select>
        <select class="nav-item" id="type-filter" name="type-filter">
          <option value="0">Все</option>
          {{range .MessTypes}}
            <option value="{{.Id}}">{{.Tname}}</option>
          {{end}}
        </select>
        
          <div class="nav-item lilim">
            <input type="checkbox" id="limits" name="limits" checked />
            <label for="scales">Показывать последние 500 строк</label>
          </div>
  
        <button class="nav-item" type="submit">Применить фильтр</button>
      </form>
      </div>
      <span>{{.SearchValue}}</span>
      <table class="table">
        <thead>
          <tr>
            <th class="tabhead">#</th>
            <th class="tabhead">Процесс</th>
            <th class="tabhead">Тип</th>
            <th class="tabhead">Дата[сервер]</th>
            <th class="tabhead">Дата[хост]</th>
            <th class="tabhead">Сообщение</th>
          </tr>
        </thead>
        <tbody>
          {{range .DataStrings}}
          <tr>
            <td>{{ .Id }}</td>
            <td title="{{ if eq .LogOwner "--*" }}Источник, отсутствующий в справочнике{{ end }}">{{ .LogOwner }}</td>
            <td title="{{ if eq .MessageType "--*" }}Тип сообщения, отсутствующий в справочнике{{ end }}" style='color: #{{ .MessageColor }};'>{{ .MessageType }}</td>
            <td>{{ .Utime }}</td>
            <td>{{ .Source_utime }}</td>
            <td>{{ .Message }}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
      <p>--* - незарегистрированный вид</p>
    </div>
  </body>
  <script src="j.js"></script>
</html>
